miso_workflows/reghub_dur_safety_check.yml
app:
  name: "RegHub 360 — DUR 안전성 점검"
  description: "처방 약물 다수 입력 → DUR 병용금기·임부금기·노인주의·용량주의 자동 점검 (NO 531 품목 + NO 533 성분). 약국·병원·환자 안전 QC 용도."
  icon: "⚕️"
  icon_background: "#FEF3E5"
  mode: workflow
  use_icon_as_answer_icon: false
kind: app
version: 1.0.0

workflow:
  conversation_variables: []
  environment_variables:
    - name: DATA_GO_KR_BASE
      value_type: string
      value: "https://apis.data.go.kr/1471000"
    - name: SERVICE_KEY
      value_type: secret
      value: "REDACTED_KEY"

  features:
    file_upload: { image: { enabled: false, number_limits: 3, transfer_methods: [local_file, remote_url] } }
    opening_statement: ""
    retriever_resource: { enabled: false }
    sensitive_word_avoidance: { enabled: false }
    speech_to_text: { enabled: false }
    suggested_questions: []
    suggested_questions_after_answer: { enabled: false }
    text_to_speech: { enabled: false, language: "", voice: "" }

  graph:
    edges:
      - { id: e1, source: node_start, target: node_parse, sourceHandle: source, targetHandle: target, type: custom, data: { sourceType: start, targetType: code, isInIteration: false } }
      - { id: e2a, source: node_parse, target: node_fetch_combine, sourceHandle: source, targetHandle: target, type: custom, data: { sourceType: code, targetType: http-request, isInIteration: false } }
      - { id: e2b, source: node_parse, target: node_fetch_pregnancy, sourceHandle: source, targetHandle: target, type: custom, data: { sourceType: code, targetType: http-request, isInIteration: false } }
      - { id: e2c, source: node_parse, target: node_fetch_age, sourceHandle: source, targetHandle: target, type: custom, data: { sourceType: code, targetType: http-request, isInIteration: false } }
      - { id: e2d, source: node_parse, target: node_fetch_elderly, sourceHandle: source, targetHandle: target, type: custom, data: { sourceType: code, targetType: http-request, isInIteration: false } }
      - { id: e3a, source: node_fetch_combine, target: node_match, sourceHandle: source, targetHandle: target, type: custom, data: { sourceType: http-request, targetType: code, isInIteration: false } }
      - { id: e3b, source: node_fetch_pregnancy, target: node_match, sourceHandle: source, targetHandle: target, type: custom, data: { sourceType: http-request, targetType: code, isInIteration: false } }
      - { id: e3c, source: node_fetch_age, target: node_match, sourceHandle: source, targetHandle: target, type: custom, data: { sourceType: http-request, targetType: code, isInIteration: false } }
      - { id: e3d, source: node_fetch_elderly, target: node_match, sourceHandle: source, targetHandle: target, type: custom, data: { sourceType: http-request, targetType: code, isInIteration: false } }
      - { id: e_end, source: node_match, target: node_end, sourceHandle: source, targetHandle: target, type: custom, data: { sourceType: code, targetType: end, isInIteration: false } }

    nodes:
      - id: node_start
        type: custom
        position: { x: 40, y: 240 }
        positionAbsolute: { x: 40, y: 240 }
        width: 244
        height: 200
        data:
          type: start
          title: "시작"
          variables:
            - { variable: item_names, type: paragraph, label: "처방 약물명 (콤마 구분, 예: 베니톨정, 타이레놀, 부루펜정)", required: true, max_length: 500 }
            - { variable: patient_age, type: number, label: "환자 나이 (선택)", required: false, default: 30 }
            - { variable: is_pregnant, type: select, label: "임부 여부", required: false, default: "no", options: ["no", "yes"] }

      - id: node_parse
        type: custom
        position: { x: 360, y: 240 }
        positionAbsolute: { x: 360, y: 240 }
        width: 244
        height: 140
        data:
          type: code
          title: "ParseInput"
          desc: "콤마 분리 + 첫 약물명 추출 (병용금기는 1개 약물씩 호출)"
          code_language: python3
          code: |
            def main(item_names, patient_age, is_pregnant) -> dict:
                items = [s.strip() for s in (item_names or "").split(",") if s.strip()]
                first = items[0] if items else ""
                age = int(patient_age or 30)
                age_group = (
                    "infant" if age < 6
                    else "child" if age < 19
                    else "adult" if age < 65
                    else "elderly"
                )
                return {
                    "drug_list": items,
                    "first_drug": first,
                    "age": age,
                    "age_group": age_group,
                    "is_pregnant_flag": (is_pregnant == "yes"),
                    "count": len(items),
                }
          variables:
            - { variable: item_names, value_selector: [node_start, item_names] }
            - { variable: patient_age, value_selector: [node_start, patient_age] }
            - { variable: is_pregnant, value_selector: [node_start, is_pregnant] }
          outputs:
            drug_list: { type: array }
            first_drug: { type: string }
            age: { type: number }
            age_group: { type: string }
            is_pregnant_flag: { type: boolean }
            count: { type: number }

      - id: node_fetch_combine
        type: custom
        position: { x: 720, y: 60 }
        positionAbsolute: { x: 720, y: 60 }
        width: 244
        height: 140
        data:
          type: http-request
          title: "DUR 병용금기 (NO 531)"
          method: get
          url: "{{#env.DATA_GO_KR_BASE#}}/DURPrdlstInfoService03/getUsjntTabooInfoList03"
          authorization: { type: no-auth }
          headers: |
            Accept: application/json
          params: |
            serviceKey: {{#env.SERVICE_KEY#}}
            pageNo: 1
            numOfRows: 100
            type: json
            itemName: {{#node_parse.first_drug#}}
          body: { type: none, data: [] }
          timeout: { max_connect_timeout: 10, max_read_timeout: 30, max_write_timeout: 10 }

      - id: node_fetch_pregnancy
        type: custom
        position: { x: 720, y: 220 }
        positionAbsolute: { x: 720, y: 220 }
        width: 244
        height: 140
        data:
          type: http-request
          title: "DUR 임부금기 (NO 531)"
          method: get
          url: "{{#env.DATA_GO_KR_BASE#}}/DURPrdlstInfoService03/getPwnmTabooInfoList03"
          authorization: { type: no-auth }
          headers: |
            Accept: application/json
          params: |
            serviceKey: {{#env.SERVICE_KEY#}}
            pageNo: 1
            numOfRows: 100
            type: json
            itemName: {{#node_parse.first_drug#}}
          body: { type: none, data: [] }
          timeout: { max_connect_timeout: 10, max_read_timeout: 30, max_write_timeout: 10 }

      - id: node_fetch_age
        type: custom
        position: { x: 720, y: 380 }
        positionAbsolute: { x: 720, y: 380 }
        width: 244
        height: 140
        data:
          type: http-request
          title: "DUR 특정연령대금기 (NO 531)"
          method: get
          url: "{{#env.DATA_GO_KR_BASE#}}/DURPrdlstInfoService03/getSpcifyAgrdeTabooInfoList03"
          authorization: { type: no-auth }
          headers: |
            Accept: application/json
          params: |
            serviceKey: {{#env.SERVICE_KEY#}}
            pageNo: 1
            numOfRows: 100
            type: json
            itemName: {{#node_parse.first_drug#}}
          body: { type: none, data: [] }
          timeout: { max_connect_timeout: 10, max_read_timeout: 30, max_write_timeout: 10 }

      - id: node_fetch_elderly
        type: custom
        position: { x: 720, y: 540 }
        positionAbsolute: { x: 720, y: 540 }
        width: 244
        height: 140
        data:
          type: http-request
          title: "DUR 노인주의 (NO 531)"
          method: get
          url: "{{#env.DATA_GO_KR_BASE#}}/DURPrdlstInfoService03/getOdsnAtentInfoList03"
          authorization: { type: no-auth }
          headers: |
            Accept: application/json
          params: |
            serviceKey: {{#env.SERVICE_KEY#}}
            pageNo: 1
            numOfRows: 100
            type: json
            itemName: {{#node_parse.first_drug#}}
          body: { type: none, data: [] }
          timeout: { max_connect_timeout: 10, max_read_timeout: 30, max_write_timeout: 10 }

      - id: node_match
        type: custom
        position: { x: 1080, y: 320 }
        positionAbsolute: { x: 1080, y: 320 }
        width: 280
        height: 240
        data:
          type: code
          title: "MatchAndAlert"
          desc: "환자 컨텍스트(나이·임부)에 맞춰 위험 알림 + 안전 점수 산정"
          code_language: python3
          code: |
            def main(combine_res, pregnancy_res, age_res, elderly_res,
                     drug_list, age, is_pregnant_flag) -> dict:
                def items_of(r):
                    body = (r or {}).get("body", {}) or {}
                    items = body.get("items", [])
                    if isinstance(items, dict) and "item" in items: items = items["item"]
                    if isinstance(items, dict): items = [items]
                    return items or []

                combine = items_of(combine_res)
                preg = items_of(pregnancy_res)
                age_taboo = items_of(age_res)
                elderly = items_of(elderly_res)

                alerts = []
                drug_set_lower = set(d.lower() for d in (drug_list or []))

                # 병용금기 매칭 — 입력 약물 2개 이상 시 응답의 MIX_ITEM_NAME 와 교차
                for c in combine:
                    mix_name = str(c.get("MIX_ITEM_NAME", "")).lower()
                    if any(d in mix_name for d in drug_set_lower if d):
                        alerts.append({
                            "type": "병용금기",
                            "severity": "HIGH",
                            "title": f"{c.get('ITEM_NAME','?')} ↔ {c.get('MIX_ITEM_NAME','?')}",
                            "reason": c.get("PROHBT_CONTENT", "")[:200],
                        })

                # 임부금기 — 임부일 때만 알림
                if is_pregnant_flag:
                    for p in preg:
                        alerts.append({
                            "type": "임부금기",
                            "severity": "CRITICAL",
                            "title": p.get("ITEM_NAME", "?"),
                            "reason": (p.get("PROHBT_CONTENT") or p.get("GRADE") or "")[:200],
                        })

                # 노인주의 — 65세 이상
                if age and age >= 65:
                    for e in elderly:
                        alerts.append({
                            "type": "노인주의",
                            "severity": "MED",
                            "title": e.get("ITEM_NAME", "?"),
                            "reason": (e.get("PROHBT_CONTENT") or "")[:200],
                        })

                # 특정연령대 금기 — 항상 체크
                for a in age_taboo:
                    alerts.append({
                        "type": "연령금기",
                        "severity": "HIGH",
                        "title": a.get("ITEM_NAME", "?"),
                        "reason": (a.get("PROHBT_CONTENT") or "")[:200],
                    })

                has_combine = any(a["type"] == "병용금기" for a in alerts)
                has_pregnancy = any(a["type"] == "임부금기" for a in alerts)
                has_age = any(a["type"] in ("연령금기", "노인주의") for a in alerts)

                # 안전 점수 (역계산, 100 만점)
                penalty = (
                    sum(40 if a["severity"] == "CRITICAL" else 20 if a["severity"] == "HIGH" else 10
                        for a in alerts)
                )
                safety_score = max(0, 100 - penalty)

                # 추천 메시지
                if not alerts:
                    rec = "✅ 입력 약물·환자 컨텍스트 기준 DUR 위험 신호 없음. 정상 처방 가능."
                else:
                    parts = ["⚠️ DUR 안전 점검 결과 — 다음 위험이 확인되었습니다:"]
                    for a in alerts[:10]:
                        parts.append(f"- [{a['severity']}] {a['type']}: {a['title']} — {a['reason']}")
                    parts.append("\n처방 전 의사·약사 검토를 권고합니다.")
                    rec = "\n".join(parts)

                return {
                    "risk_alerts": alerts,
                    "has_combine_taboo": has_combine,
                    "has_pregnancy_taboo": has_pregnancy,
                    "has_age_taboo": has_age,
                    "safety_score": safety_score,
                    "recommendation_text": rec,
                    "alert_count": len(alerts),
                }
          variables:
            - { variable: combine_res, value_selector: [node_fetch_combine, body] }
            - { variable: pregnancy_res, value_selector: [node_fetch_pregnancy, body] }
            - { variable: age_res, value_selector: [node_fetch_age, body] }
            - { variable: elderly_res, value_selector: [node_fetch_elderly, body] }
            - { variable: drug_list, value_selector: [node_parse, drug_list] }
            - { variable: age, value_selector: [node_parse, age] }
            - { variable: is_pregnant_flag, value_selector: [node_parse, is_pregnant_flag] }
          outputs:
            risk_alerts: { type: array }
            has_combine_taboo: { type: boolean }
            has_pregnancy_taboo: { type: boolean }
            has_age_taboo: { type: boolean }
            safety_score: { type: number }
            recommendation_text: { type: string }
            alert_count: { type: number }

      - id: node_end
        type: custom
        position: { x: 1440, y: 320 }
        positionAbsolute: { x: 1440, y: 320 }
        width: 244
        height: 220
        data:
          type: end
          title: "끝"
          outputs:
            - { variable: risk_alerts, value_selector: [node_match, risk_alerts] }
            - { variable: has_combine_taboo, value_selector: [node_match, has_combine_taboo] }
            - { variable: has_pregnancy_taboo, value_selector: [node_match, has_pregnancy_taboo] }
            - { variable: has_age_taboo, value_selector: [node_match, has_age_taboo] }
            - { variable: safety_score, value_selector: [node_match, safety_score] }
            - { variable: recommendation_text, value_selector: [node_match, recommendation_text] }
            - { variable: alert_count, value_selector: [node_match, alert_count] }
